.page__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 24px;
}

.page__heading {
  margin-bottom: 16px;
  text-align: center;
}

.page__btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}

.page__data {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
}

/* Style up to small devices */
@media only screen and (min-width: 576px) {

  .page__header {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 48px;
  }

  .page__heading {
    margin-bottom: 0;
    text-align: left;
  }
}
